.introduction .title, .food .title, .video .title, .blog .title {
  font-weight: 900;
  text-transform: uppercase;
}

.introduction .title:after, .blog .title:after {
  content: '';
  width: 180px;
  background: #363636;
  height: 5px;
  display: block;
  margin: 1rem auto;
}

.cover {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1999;
  background: #fff;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  font-family: 'Rochester', cursive;
  font-size: 4rem;
  text-shadow: -3px 3px 1px rgba(0, 0, 0, 0.35);
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-burger {
  height: auto;
}

.navbar-menu .navbar-item {
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-menu .fa-phone {
  border: 3px solid;
  border-radius: 50%;
}

.navbar-menu a {
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.navbar-menu a:hover {
  color: #0076a3;
}

.hero {
  background: url(../images/hero-bg.png) no-repeat 50% 50%/cover;
  background-attachment: fixed;
  position: relative;
  color: #fff;
}

.hero:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  position: absolute;
}

.hero .title {
  font-size: 4rem;
}

@media screen and (min-width: 1472px) {
  .hero .container {
    width: 45%;
  }
}

.food {
  background: url(../images/food-bg.png);
  background-attachment: fixed;
  padding: 4rem 1.5rem;
}

.food .title {
  margin-bottom: 2rem;
}

.food .button {
  background-color: #0076a3;
  font-weight: 900;
  margin-top: 1rem;
  letter-spacing: 2px;
}

@media screen and (min-width: 525px) and (max-width: 768px) {
  .food .button {
    width: 470px;
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .food .column {
    margin-bottom: 1.5rem;
  }
}

.video {
  background: #d7d7d7;
}

.video .title {
  margin-bottom: 2rem;
}

.video .video-wrapper {
  position: relative;
}

.video .play-btn {
  display: inline-block;
  outline: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.35s linear;
  -o-transition: 0.35s linear;
  transition: 0.35s linear;
}

.video .play-btn:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .video .play-btn {
    width: 30%;
  }
}

.blog .title {
  margin-bottom: 2rem;
}

.blog img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.blog img:hover {
  opacity: 0.5;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.blog .column {
  padding: 0;
  margin: .75rem;
  background: #000;
  position: relative;
  overflow: hidden;
}

.blog .column:before {
  display: none;
  font-family: "Font Awesome 5 Free";
  content: "\f03e";
}

.blog .column:hover svg {
  opacity: 1;
}

.blog .column svg {
  position: absolute;
  opacity: 0;
  font-size: 4rem;
  color: #fff;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer {
  background-color: #000;
  padding: 2rem 1rem 1rem;
  color: #fff;
}

.footer-widgets .container {
  border-bottom: 1px solid #fff;
  padding-bottom: 1.5rem;
}

.footer-widgets .title {
  border-bottom: 1px solid #fff;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  color: #fff;
}

.footer-widgets .content {
  padding-left: 1.5rem;
}

.footer-widgets ul {
  list-style: none;
  margin: 0;
}

.footer-widgets ul a {
  color: #fff;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.footer-widgets ul a:hover {
  color: #0076a3;
}

.footer-widgets svg {
  margin-right: 8px;
}

.copyright {
  font-family: 'Lato', sans-serif;
  padding-top: 1rem;
}
